.cardGenres .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem;
  flex: 0 1 calc(20% - 1rem);
  margin-bottom: 1rem;
}

.cardGenres .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardGenres .card .description {
  text-align: left;
  font-size: 14px;
}

.cardGenres .card .detail-info {
  display: flex;
  justify-content: space-between;
}

.cardGenres .card a {
  float: right;
  margin-right: 0;
}

@media screen and (max-width: 980px) {
  .cardGenres .card {
    flex: 0 1 calc(30% - 1rem);
  }
}

@media screen and (max-width: 580px) {
  .cardGenres .card  {
    flex: 0 1 calc(45% - 1rem);
  }
}
