@import 'Colors';

.btn {
    padding: 5px 1rem 5px 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 1rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.default-btn {
    border: 2px solid $main-color;
    color: $main-color;
}

.default-btn:hover {
    background-color: $alternate-color;
    color: white;
}

.white-btn {
    background-color: white;
}
  
.white-btn:hover {
    background-color: $light-gray;
    color: $main-color;
}
