@import 'src/styles/Mixins';

.cards {
  grid-template-columns: repeat(auto-fill, 24%);
}

.genre-card {
  .description {
    text-align: left;
    font-size: 14px;
  }

  .detail-info {
    display: flex;
    justify-content: space-between;
  }

  a {
    float: right;
    margin-right: 0;
  }
}

@include large-screen {    
  .cards {
    grid-template-columns: repeat(auto-fill, 32%);
  }
}

@include medium-screen {    
  .cards {
    grid-template-columns: repeat(auto-fill, 48%);
  }
}

@include small-screen {    
  .cards {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
