.btn {
    padding: 5px 1rem 5px 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 1rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.default-btn {
    border: 2px solid #572364;
    color: #572364;
}

.default-btn:hover {
    background-color: #461c50;
    color: white;
}

.white-btn {
    background-color: white;
  }
  
.white-btn:hover {
    background-color: #e7e7e7;
    color: #572364;
}
